Repository zer0Kerbal/MiniSampleReturnCapsule, pull requests merged in 2023-06, with the labels that each got.

#98 Update and rename GPOSpeedFuelPump.cfg to GPOSpeedPump.cfg
  GameData/MiniSampleReturnCapsule/Compatibility/GPOSpeedPump.cfg
Labels: type: pull request

#97 added ru.cfg/ added ru translated readme and quickstart
  GameData/MiniSampleReturnCapsule/Localization/quickstart-ru.md
  GameData/MiniSampleReturnCapsule/Localization/readme-ru.md
  GameData/MiniSampleReturnCapsule/Localization/ru.cfg
Labels: type: localization, hacktoberfest-accepted

#99 Version 1.4.4.0-release - `<Спасибо evanisrael>` edition
  GameData/MiniSampleReturnCapsule/1.4.4.0.htm
  GameData/MiniSampleReturnCapsule/Attributions.htm
  GameData/MiniSampleReturnCapsule/Compatibility/CommunityCategoryKit.cfg
  GameData/MiniSampleReturnCapsule/Compatibility/GPOSpeedFuelPump.cfg
  GameData/MiniSampleReturnCapsule/Compatibility/GPOSpeedPump.cfg
  GameData/MiniSampleReturnCapsule/Compatibility/KerbNet.cfg
  GameData/MiniSampleReturnCapsule/Compatibility/Kerbalism.cfg
  GameData/MiniSampleReturnCapsule/Compatibility/RemoteTech.cfg
  GameData/MiniSampleReturnCapsule/Compatibility/SCANSat.cfg
  GameData/MiniSampleReturnCapsule/Compatibility/TarsierSpaceTech.cfg
  GameData/MiniSampleReturnCapsule/Compatibility/TweakScale.cfg
  GameData/MiniSampleReturnCapsule/Compatibility/kOS.cfg
  GameData/MiniSampleReturnCapsule/Config/MiniSampleReturnCapsule.cfg
  GameData/MiniSampleReturnCapsule/Localization/en-us.cfg
  GameData/MiniSampleReturnCapsule/Localization/pt-br.cfg
  GameData/MiniSampleReturnCapsule/Localization/quickstart-ru.md
  GameData/MiniSampleReturnCapsule/Localization/quickstart.md
  GameData/MiniSampleReturnCapsule/Localization/readme-ru.md
  GameData/MiniSampleReturnCapsule/Localization/readme.md
  GameData/MiniSampleReturnCapsule/Localization/ru.cfg
  GameData/MiniSampleReturnCapsule/MiniSampleReturnCapsule.version
  GameData/MiniSampleReturnCapsule/Parts/msrc-cargobay.cfg
  GameData/MiniSampleReturnCapsule/Parts/msrc-parachute.cfg
  GameData/MiniSampleReturnCapsule/changelog.md
  GameData/MiniSampleReturnCapsule/readme.htm
  MiniSampleReturnCapsule.version
  changelog.md
  docs/404.md
  docs/Attributions.md
  docs/Localizations.md
  docs/ManualInstallation.md
  docs/PartsCatalog.md
  docs/ReleaseNotes/1.4.4.0.md
  docs/Why.md
  docs/changelog.md
  json/mod.json
  readme.md
Labels: semantic: release
